
body {
  font-family: "Roboto";
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  padding: 0px 300px;
  margin: 0px;
  font-size: 0;
}


ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
  
}

.navbar-right ul {
  display: flex;
  color: white;
  list-style-type: none;
  gap: 20px;
}

.navbar-right
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-left {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
  padding: 20px 0px;
}

/*Section one*/

.sec-one {
  display: flex;
  padding: 150px 300px;
  background-color: #1F2937;
  color: white;
  gap: 30px;
  font-size: 0;
  margin:0px;
}

.one-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 13px;
}

.one-heading {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.one-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.one-button {
  cursor: pointer;
  color: white;
  font-size: 18px;
  padding: 9px 18px;
  background-color:  dodgerblue;
  border-radius: 10px;
  width: fit-content;
}

.one-right {
  background-color: darkgrey;
  width: 50%;
}

/*Section two*/

.sec-two {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;

}

.two-heading {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px;
}

.two-big-dabba {
  display: flex;
  gap: 36px;
  padding: 0px 400px;
  justify-content: space-between;
}

.two-small-dabba {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100px;
  height: auto;
}

.two-small-dabba img {
  width: 100px;
  height: 100px;
  border: 5px solid dodgerblue;
  display: flex;
  border-radius: 20px;
}

.two-text {
  text-align: center;
  color: slategrey;
}

/*Section Three*/

.sec-three {
  background-color: #E5E7EB;
  padding: 100px 450px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.three-quote {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: #1F2937;
}

.three-author {
  text-align: end;
  font-weight: 900;
}

/*Section four*/

.sec-four {
  padding: 100px 300px;
}

.four-blue-dabba {
  background-color: #3882F6;
  border-radius: 10px;
  padding: 30px 60px;
  display: flex;
}

.four-dabbas {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.four-heading {
  color: white;
  font-size: 20px;
  font-weight: 900;
}

.four-subtext {
  color: white;
}

#one {
  width: 80%;
}

#two {
  display: flex;
  justify-content: center;
  align-items: end;
}

.four-button {
  cursor: pointer;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 15px;
  text-align: center;
}

/*Footer*/


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  background-color: #1F2937;
  color: white;
  font-size: 18px;
}
    